# mod
CONFIG_LUCI_LANG_zh_Hans=y
# CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_luci-app-passwall2=y
