name: IPQ60XX-6.12-NOWIFI

on:
  workflow_dispatch:

env:
  REPO_URL: https://github.com/LiBwrt/openwrt-6.x.git
  REPO_BRANCH: main-nss
  CONFIG_FILE: configs/ipq60xx-6.12-nowifi.config
  DIY_SCRIPT: diy-script.sh
  TZ: Asia/Shanghai
  FIRMWARE_RELEASE: true
  FIRMWARE_TAG: IPQ60XX-6.12-NOWIFI

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Init build environment
      run: |
        sudo bash -c 'bash <(curl -sL https://build-scripts.immortalwrt.org/init_build_environment.sh)'
        sudo timedatectl set-timezone "$TZ"

    - name: Clone source
      run: |
        git clone --depth 1 -b $REPO_BRANCH $REPO_URL openwrt
        echo "OPENWRT_PATH=$PWD/openwrt" >> $GITHUB_ENV

    - name: Load config
      run: |
        cp $GITHUB_WORKSPACE/$CONFIG_FILE $OPENWRT_PATH/.config

    - name: Run DIY script
      run: |
        cd $OPENWRT_PATH
        bash $GITHUB_WORKSPACE/$DIY_SCRIPT

    - name: Download packages
      run: |
        cd $OPENWRT_PATH
        make defconfig
        make download -j8

    - name: Compile
      run: |
        cd $OPENWRT_PATH
        make -j$(nproc) || make -j1 V=s
        echo "DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV

    - name: Organize multi-profile firmware
      run: |
        cd $OPENWRT_PATH/bin/targets/qualcommax/ipq60xx
        mkdir output
        cp -r * output/
        echo "FIRMWARE_PATH=$PWD/output" >> $GITHUB_ENV

    - name: Release
      if: env.FIRMWARE_RELEASE == 'true'
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ env.FIRMWARE_TAG }}
        name: R${{ env.DATE }} for ${{ env.FIRMWARE_TAG }}
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: ${{ env.FIRMWARE_PATH }}/*
